{% extends "layout.html" %}

{% block page_id %}about{% endblock %}
{% block title %}About Pulse{% endblock %}
{% block description %}Frequently asked questions and information on what it Pulse measures and where to send feedback.{% endblock %}

{% block content %}

<header>
  <h2>Open Data</h2>

  <p>
    Pulse scans federal .gov domains to measure support for web best practices, and produces a lot of data in the process. You can download that data below for reuse.
  </p>

  <p>
    It's not required, but if you use this data to do something interesting, we'd love it if you <a href="https://github.com/18f/pulse/issues">opened a ticket</a> or <a href="mailto:pulse@cio.gov">dropped us a line</a> to tell us about it!
  </p>
</header>

<section id="main-content" class="white-bkg">

<div class="wrapper">
  <header>
			<h3>Data</h3>
  </header>

	<ul class="faq-answers">
		<li id="site-wide">
			<h4>Site Wide</h4>
				<ul><li>
				Domain Inspect Results - <a href="https://s3.amazonaws.com/pulse.cio.gov/live/scan/inspect.csv">CSV</a>
				</li></ul>
    		</li>
	</ul>
	<ul class="faq-answers">
		<li id="https">
			<h4>HTTPS</h4>
				<ul><li>
				HTTPS Scan Results - <a href="https://pulse.cio.gov/data/domains/https.csv">CSV</a>
				</li></ul>
    		</li>
	</ul>
	<ul class="faq-answers">
		<li id="dap">
			<h4>Digital Analytics Program </h4>
				<ul><li>
				Scan Data - <a href="https://pulse.cio.gov/data/domains/analytics.csv">CSV</a></li><li>  
				Participating DAP sites - <a href="https://analytics.usa.gov/data/live/sites.csv">CSV</a>
				</li></ul>
    		</li>
	</ul>
</div>

</section>

{% endblock %}
